<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Livraria</display-name>
  <servlet>
    <servlet-name>ProdutoController</servlet-name>
    <servlet-class>br.com.livraria.controller.ProdutoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoController</servlet-name>
    <url-pattern>/servletproduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsuarioController</servlet-name>
    <servlet-class>br.com.livraria.controller.UsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioController</servlet-name>
    <url-pattern>/servletuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VendaController</servlet-name>
    <servlet-class>br.com.livraria.controller.VendaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendaController</servlet-name>
    <url-pattern>/servletvenda</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FornecedorController</servlet-name>
    <servlet-class>br.com.livraria.controller.FornecedorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FornecedorController</servlet-name>
    <url-pattern>/servletfornecedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EntradaController</servlet-name>
    <servlet-class>br.com.livraria.controller.EntradaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntradaController</servlet-name>
    <url-pattern>/servletentrada</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>35</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>